<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>{$thread.title}</title>
        <script type="text/javascript">
        	(function (){
    		    var Doc = document.documentElement;
    		    Doc.style.fontSize = Doc.clientWidth/10+'px';
    		})();
        </script>
        <link rel="stylesheet" href="__STATIC__/home/css/style.css" type="text/css" />
        <link rel="stylesheet" href="__STATIC__/home/css/base.css" type="text/css" />
        <link rel="stylesheet" href="__STATIC__/home/css/thread.css" type="text/css" />
        <style type="text/css">
            .comment-cont{
                height: 3rem;
                margin: 0.3rem;
                color: #b3b3b3;
                background: #f7f7f7;
            }
            .comment-cont textarea{
                width: 100%;
                height: 100%;
                border:0;
                outline: 0;
                resize: none;
                padding: 0.3rem;
                box-sizing: border-box;
                background: transparent;
            }
        </style>
    </head>
    
    <body class="page-main publish-main">
        <header class="flex-align flex-wrap">
          <div class="cencel" onclick="api.closeWin()">取消</div>
          <div class="title flex-con">文章评论</div>
          <div class="publish">发布</div>
        </header>
        <div style="height:1.5625rem;"></div>
        <div class="comment-cont">
            <textarea id="comment-cont" placeholder="写评论..."></textarea>
        </div>
        <ul class="publish-upload">
            <li class="upload-button">添加图片</li>
          </ul>
        <script type="text/javascript" src="__STATIC__/home/js/api.js"></script>
        <script type="text/javascript" src="__STATIC__/home/js/jquery-2.1.3.min.js"></script>
        <script>
            apiready = function () {
                // 图片上传
                $('.upload-button').on('click',function () {
                  api.openWin({
                    name: 'picture',
                    url: 'widget://html/picture.html',
                    pageParam: {winName:'thread_comment',frameName:'thread_comment',funName:'upload_images',type: 'picture'}

                  });
                });
                // 发布评论
    	        $('.publish').on('click',function (){
    				var msg = "";
    				if( $.trim($('#comment-cont').val()) == '' ){
    					msg = "请输入评论内容";
    				}
    				if( msg ){
    					return api.toast({
                		    msg: msg,
                		    location: 'bottom',
                		    duration: 2000,
                		});
    				}
    				var images = [];
    				$.each($('.upload_images'),function (i,e){
    					images.push($(e).val());
    				})
    				$.ajax({
    					type: 'post',
    					url: site_url + '/index.php/forum/detail/comment_add.html',
    					data: {
    						tid: {$thread.id},
    						images: images.join(','),
    						content: $('#comment-cont').val(),
    					},
    					dataType: 'json',
    					success: function (data) {
    						api.closeWin();
    						api.toast({
                    		    msg: data.info,
                    		    location: 'bottom',
                    		    duration: 2000,
                    		});
    					}
    				})
    			})
            }
            // 图片上传
            function upload_images( images ) {
                var new_pics = images.split(',');
                var files = {};
                for( var i=0; i<new_pics.length; i++ ){
                  files['file'+i] = new_pics[i];
                }
                api.showProgress({
                  style:'default',
                  animationType:'fade',
                  title:'正在上传',
                  text:'',
                  modal:false
                });
              	api.ajax({
                    url: site_url + '/index.php/forum/thread/upload.html',
                    method: 'post',
                    data: {
                        files: files
                    }
              	}, function(ret, err) {
                    api.hideProgress();
                    if( ret.data && ret.data.length ){
                      for( var i=0; i<ret.data.length; i++ ){
                        $('.publish-upload').prepend(`
                        	<li>
                        		<input type="hidden" value="${ret.data[i]}" class="upload_images" />
                        		<img src="${site_url + ret.data[i]}" />
                        	</li>
                        `);
                      }
                      alert(1);
                    }
                });
            }
        </script>
    </body>
</html>
